---
title: Résumé
---

<div class="container">

    <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-8">
            <h1 style="font-size: 90px">Long Ly</h1>
        </div>

        <div class="col-6 col-md-4" style="font-size: 16px">
            Web: https://longhoangly.com<br>
            Phone: +84 947 222 600<br>
            Email: longhoangly [at] gmail.com<br>
            Download: <a href="https://drive.google.com/file/d/11ohreCpNSBPshCmPXwxacjv8n8YmL3Ta/view?usp=sharing"
                target="_blank">PDF version</a>
        </div>
    </div>

    <div class="row no-gutters mt-4">
        <div class="col-12 col-sm-6 col-md-8">
            {% capture resume_left %}{% include resume_left.md %}{% endcapture %}
            {{ resume_left | markdownify }}
        </div>

        <div class="col-6 col-md-4">
            {% capture resume_right %}{% include resume_right.md %}{% endcapture %}
            {% include resume_right.md %}
        </div>
    </div>

</div>