<footer id="footer" class="text-center text-dark bg-light">
    <!-- Grid container -->
    <div class="container pt-auto">
        <!-- Section: Social media -->
        <section class="mb-auto">
            Contact me?
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/ankiflashcom"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/longhoangly"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/longflashting/"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/longhoangly/"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>

            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/longhoangly"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="bi bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
</footer>