<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- Navigation bar -->
    <div class="collapsed navbar-collapse">
        <!-- Navbar items -->
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            {% if item.name != "Authors" %}
            <li {% if page.url==item.link %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <button class="btn btn-outline-dark mr-2" type="button">Download</button>
        <button id="nightMode" class="btn btn-outline-dark" type="button" aria-pressed="false">
            Night Mode
        </button>
    </div>
    <!-- Navigation bar -->
</nav>