<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <button id="changeToggle" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Navigation bar -->
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <!-- Navbar items -->
        <ul class="navbar-nav mr-auto">

            {% assign firstItems = site.data.navigation | where: "section", "First" %}
            {% for item in firstItems %}
            <li {% if page.url==item.link %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ site.url }}{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Apps</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% assign secondItems = site.data.navigation | where: "section", "Second" %}
                    {% for item in secondItems %}

                    {% if item.link contains "http" %}
                    {% assign hrefLink = item.link %}
                    {% else %}
                    {% assign hrefLink = site.url | append: item.link %}
                    {% endif %}

                    <a class="dropdown-item" href="{{ hrefLink }}" {% if item.link contains "http" %} target="_blank" {%
                        endif %}>{{ item.name }}</a>

                    {% if item.break %}
                    <div class="dropdown-divider"></div>
                    {% endif %}

                    {% endfor %}
                </div>
            </li>

            {% assign thirdItems = site.data.navigation | where: "section", "Third" %}
            {% for item in thirdItems %}
            <li {% if page.url==item.link %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ site.url }}{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}

        </ul>

        <button id="download" class="btn btn-outline-dark mr-2" type="button">Download</button>
        <button id="nightMode" class="btn btn-outline-dark btn-sq-xs" type="button" data-placement="bottom">
            <i class="fas fa-moon"></i>
        </button>
    </div>
    <!-- Navigation bar -->
</nav>