<script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.6.0/ace.js"></script>
<script defer type="module" src="{{ site.url }}/assets/js/apps/js-executer.js"></script>

<div id="jsExecuter">
  <div class="tool-wrapper">
    <h3>JavaScript Executer</h3>
    <div class="col p-0">
      <label class="form-label" for="editor"><strong>Input your JavaScript code here</strong></label>
      <div class="textarea" id="editor" name="editor"></div>
      <div id="alert" class="alert mt-2" role="alert" style="display: none"></div>
    </div>

    <button id="execute" type="button" class="btn btn-outline-dark my-2">Execute</button>
    <button id="clearJs" type="button" class="btn btn-outline-dark my-2">Clear</button>

    <div class="col p-0 mt-3">
      <label class="form-label" for="consoleOutput"><strong>JavaScript console output</strong></label>
      <div class="textarea" id="consoleOutput" name="consoleOutput"></div>
    </div>
  </div>
</div>
