<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navigation bar -->
    <div class="collapsed navbar-collapse">
        <!-- Navbar items -->
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            {% if item.name != 'Authors' %}
            <li {% if page.url==item.link %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <!-- Download template button -->
        <button class="btn btn-outline-warning" type="submit">Download</button>
    </div>
    <!-- Navigation bar -->
</nav>