---
---

@import "../../_sass/bootstrap/bootstrap";

body {
  font-family: "Mali", monospace !important;
  font-weight: 300;
  font-size: large !important;
  visibility: hidden;
}

.img-thumbnail {
  padding: 0 !important;
  border: 0 !important;
}

nav {
  top: 0;
  z-index: 100;
  position: sticky;
}

a,
a:hover {
  color: inherit;
}

a {
  font-weight: 500;
  font-style: italic;
}

hr {
  height: 1px;
  border-color: grey;
  margin: 8px 0;
}
