---
---

@import "../../_sass/bootstrap/bootstrap";

body {
  font-family: "Mali", monospace !important;
  font-size: large !important;
  visibility: hidden;
}

.img-thumbnail {
  padding: 0 !important;
  border: 0 !important;
}

nav {
  top: 0;
  z-index: 100;
  position: sticky;
}

a,
a:hover {
  color: inherit;
}

a {
  font-weight: bold;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
