---
---

@import "../../_sass/bootstrap/bootstrap";

body {
    font-family: "Papyrus", fantasy !important;
    font-size: large !important;
    visibility: hidden;
}

.img-thumbnail {
    padding: 0 !important;
    border: 0 !important;
}

nav {
    top: 0;
    z-index: 100;
    position: sticky;
}
