<!DOCTYPE html>
<html>
  {% include head.liquid %}

  <body class="bg-light text-dark ms-3 me-3">
    {% include header.liquid %}

    <div id="main" class="d-flex flex-row justify-content-center">
      <div class="col-lg-8 m-2">
        {{ content }}
      </div>
    </div>

    {% include footer.liquid %}
  </body>
</html>
