<!doctype html>
<html>
  {% include head.liquid %}

  <body class="bg-light text-dark ms-3 me-3">
    {% include header.liquid %}

    <div id="main" class="d-flex flex-row justify-content-center">
      <div class="col-lg-8 m-2">
        {{ content }}
      </div>
    </div>

    {% include footer.liquid %}
  </body>
</html>

<script type="text/javascript">
  function pdfVersion() {
    document.getElementById('header').style.display = 'none';
    document.getElementById('footer').style.display = 'none';
  }

  {% comment %} pdfVersion(); {% endcomment %}
</script>
