.tool-wrapper {
    min-width: 350px !important;
    width: 100%;
}

.change-mode.selected {
    box-shadow: inset 1px 1px 2px #75521d;
    background: rgba(255, 255, 255, 0.3);
    padding-top: 2px;
    padding-left: 2px;
}

/* Format different lines */
.different_element {
    background-color: lightskyblue;
}

.different_element .jsoneditor-tree:not(:first-child),
.different_element .jsoneditor-separator {
    background-color: lightskyblue;
}

.undefined .jsoneditor-tree:not(:first-child),
.undefined .jsoneditor-separator {
    background-color: lightcoral;
}
